node_modules
.vscode
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/generated-types

# circom files
zk-out/tau
zk-out/*/circuit_[0-9][0-9][0-9][0-9].zkey
zk-out/*/challenge_phase2_????
zk-out/*/response_phase2_????
